:root {
  --primary: #e1fae9;
/*  --secondary: #821972;*/
/*  --secondary: #173621;*/
  --secondary: #1E562F;
}

@font-face {
  font-family: Meylina;
  src: url(../font/meylina/Meylina_DEMO.ttf);
}

.text-secondary {
  color: var(--secondary);
}

html,body {
  overflow-x: hidden;
}

body {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  background-color: var(--primary);
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-image: url(../img/bg-hero.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  filter: invert(21%);
}

.hero {
  position: relative;
  min-height: 100vh;
  position: absolute;
  z-index: 99999;
}

.hero h1 {
  font-family: "Meylina", cursive;
  font-size: 6rem;
}

.hero h4 {
  font-size: 1.3rem;
}

.hero p {
  font-size: 1rem;
}

.hero a {
  color: var(--secondary);
  background-color: var(--primary);
}

.hero a:hover {
  color: var(--primary);
  background-color: var(--secondary);
}

.hero-out {
  z-index: -999999;
}

.home {
  padding-top: 4rem;
  padding-bottom: 10rem;
}

.home h2,
.info h2,
.story h2,
.gallery h2,
.rsvp h2,
.gifts h2 {
  color: var(--secondary);
  font-family: "Meylina", cursive;
  font-size: 4rem;
}

.home h3 {
  color: var(--secondary);
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: "Meylina", cursive;
}

.home p {
  font-size: 1.1rem;
  color: #000;
}

.home .ar-rum p {
  color: var(--secondary);
}

.home .ar-rum .arabic {
  font-size: 1.2rem;
  font-weight: bold;
}

.home .couple h3 {
  font-family: "Meylina", cursive;
  font-size: 2.8rem;
  color: var(--secondary);
}

.home .couple a {
  text-decoration: none;
  color: var(--secondary);
  font-size: 1rem;
}

.home .couple a:hover {
  color: var(--secondary);
}

.home .couple .meylina {
  font-family: "meylina", cursive;
}

.home .couple img {
  border: solid var(--secondary) 4px;
  box-shadow: 0px 5px 30px -10px;
}

.home img.img-fluid {
  max-width: 80%;
}

.home img.bottom {
  transform: rotate(180deg);
}

.parallax-info {
  position: relative;
  text-align: center;
  background-image: url(../img/parallax.jpg);
  min-height: 500px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-info p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 1.5rem;
}

.info {
  background-color: var(--secondary);
  padding-top: 10rem;
  padding-bottom: 8rem;
  color: #e1fae9;
}

.info h2 {
  /* font-family: "Meylina", cursive; */
  /* font-size: 5rem; */
  /* font-weight: bold; */
  color: #e1fae9;
}

.info .alamat {
  font-size: 1.2rem;
}

.info a {
  font-size: 1.2rem;
}

.info .description {
  font-size: 1.2rem;
  font-weight: 300;
}

.info .card {
  background-color: white !important;
  border: 1px solid #999;
}

.info .card-header {
  border-bottom: 1px solid #999;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.info .card-footer {
  border-top: 1px solid #999;
  font-size: 1.1rem;
  font-weight: 300;
}

.parallax-story {
  position: relative;
  text-align: center;
  background-image: url(../img/parallax-story.jpg);
  min-height: 500px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-story p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 1.8rem;
}

.story,
.gallery,
.rsvp,
.gifts {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.story span,
.gallery span,
.gifts span {
  text-transform: uppercase;
  color: #000;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
}

.story p,
.gallery p,
.rsvp p,
.gifts p {
  font-size: 1.2rem;
  font-weight: 300;
}

.gallery {
  background-color: var(--primary);
}

.gallery span {
  font-size: 1rem;
}

.gallery .owl-carousel {
  position: relative;
}

.gallery .owl-dots .active span {
  background-color: var(--secondary) !important;
}

.gallery .owl-dots .owl-dot:hover span {
  background-color: var(--secondary) !important;
}

.gallery .owl-dots .owl-dot span:hover {
  background-color: var(--secondary) !important;
}

.gallery .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 0 20px !important;
  margin: 0 0 0 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

.gallery .owl-carousel .owl-nav span {
  color: var(--secondary);
  font-size: 4rem;
  margin: 0;
}

.gallery .owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 0 20px !important;
  margin: 0 10px 0 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.rsvp button {
  background-color: var(--secondary);
  color: white;
}

.rsvp button:hover {
  color: white;
  background-color: #926148;
}

.rsvp label {
  font-size: 1rem;
}

.rsvp .card {
  background-color: #f5f5f5;
  box-shadow: 0 0 5px #ccc;
}

.rsvp .wish-list {
  max-height: 300px;
  overflow-y: scroll;
  background-color: white;
  margin: 5px;
  padding: 0 0 0 24px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.rsvp .wish-list li {
  padding: 16px 12px;
  margin: 20px 0;
  background-color: var(--secondary);
  max-width: 750px;
  border-radius: 8px;
  color: white;
  box-shadow: 0 0 10px #ccc;
}

.rsvp .wish-list li h5 {
  font-size: 1rem;
  margin-bottom: 5px;
}

.rsvp .wish-list li p {
  font-size: 0.8rem;
  margin-bottom: 0;
}

.rsvp .card-wish {
  background-color: var(--secondary);
  margin: 1rem 1rem;
  padding: 1rem;
  color: white;
  border-radius: 5px;
}

.gifts {
  background-color: #e1fae9;
}

.gifts span {
  font-size: 1rem;
}

footer {
  padding: 2.4rem;
  background-color: var(--secondary);
  color: white;
}

.audio-icon-wrapper {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  position: fixed;
  bottom: 2.5rem;
  right: 2rem;
  cursor: pointer;
  color: white;
  opacity: 0.5;
  mix-blend-mode: difference;
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* media query */
/* extra large */
@media (max-width: 1200px) {
}

/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

  .simply-countdown > .simply-section {
    padding: 70px;
  }

  .parallax-info {
    width: 100%;
    min-height: 300px;
  }

  .parallax-info p {
    width: 100%;
    letter-spacing: 8px;
  }

  .parallax-story {
    width: 100%;
    min-height: 300px;
  }

  .parallax-story p {
    width: 100%;
    letter-spacing: 8px;
  }

  .timeline::before {
    left: 60px;
  }

  .timeline li .timeline-image {
    left: 15px;
    margin-left: 45px;
    top: 16px;
  }

  .timeline li .timeline-panel {
    width: calc((100% - 200px));
    float: right;
  }

  .timeline li .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  .timeline li .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .simply-countdown > .simply-section {
    padding: 60px;
    margin: 5px;
  }

  .my-navbar .nav-link {
    font-size: 2rem;
    text-align: center;
  }

  .timeline li .timeline-image {
    width: 140px;
    height: 140px;
  }
}

/* handphone */
@media (max-width: 576px) {
  html {
    font-size: 80%;
  }

  .hero main {
    max-width: 360px;
  }

  .navbar .container {
    justify-content: center;
  }

  .navbar-toggler {
    display: none;
  }

  .simply-countdown > .simply-section {
    padding: 40px;
    margin: 3px;
  }

  .parallax-info {
    width: 100%;
    min-height: 250px;
  }

  .parallax-info p {
    width: 100%;
    letter-spacing: 7px;
  }

  .parallax-story {
    width: 100%;
    min-height: 250px;
  }

  .parallax-story p {
    width: 100%;
    letter-spacing: 7px;
  }

  .timeline li .timeline-image {
    width: 90px;
    height: 90px;
  }

  .timeline li .timeline-panel {
    width: 65%;
    transform: translateX(-20px);
  }

  .timeline li .timeline-panel::before {
    top: 30px;
  }

  .timeline li .timeline-panel::after {
    top: 31px;
  }
}
